<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Amazon Automation Test Suite">
	
  <test  name="Amazon launch Test">
    <classes>
      <class name="Amazon_test.Amazon_Test"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Amazon Automation Test Suite -->
